.imgnav {
    width: 20%;
    height: 5%;
}

.navbar {
    background-color: palevioletred;
    color: #f5d5e2;
}

.carrousel {
    height: 45vh;
}

.fixedimg{
    object-fit: cover;
    
}

.footer {
  background-color: palevioletred;
  height: 6vh;
  margin-top: 10px;
}

.img_footer {
    height: 4vh;
}

.form {
    width: 100%;
}

.card {
    width: 18rem;
}

.main-card {
    min-height: 80vh ;
}

.card-text{
    font-size: 15px;
}

.main {
    min-height: calc(100vh - 100px);
}

.detailCard{
    object-fit: cover;
    max-height: 500px;
    width: 100%;
}

.tarjeta{
    width: 400px;
    border: solid black;
    align-items: center;
    padding: 5px;
}

.cardimg {
    height: 380px;
}



.imgcard {
    height: 12rem ;
    width: 100%;

}

.frame {
    display: flex;
    flex-direction: column;
    height: 67vh;
    justify-content: center;
    align-items: center;
}

.table {
    width: 70%;
    height: 80%;
    border: solid;
    text-align: center;
    border-collapse: collapse;
}

th,
tr,
td {
    border: solid 2px;
    font-size: 20px;
    padding: 10px;
}

.headertable {
    font-size: 30px;
}